// * ********************************************************************************************************* *
// *
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "../../sourceFilesMap";

.#{$ComWuiFrameworkLocalhostControllers}Pages {
  .MainPage {
    .Logo {
      background: $COM_WUI_FRAMEWORK_LOCALHOST_CONTROLLERS_MAINPAGE_LOGO no-repeat;
      height: 526px;
      margin: 20px auto auto;
      top: 0;
      width: 738px;
    }

    .Note {
      border-width: 0;
      color: $descriptionColor;
      font-size: 14px;
      font-style: italic;
      margin: auto;
      padding-left: 150px;
      padding-top: 25px;
      width: 500px;
    }
  }
}
